<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="css">
        <!-- 左上角图标 -->
        <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">

        <!-- Bootstrap -->
        <link th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

        <!-- sb-admin-2 CSS  sb-admin 自己 CSS  -->
        <link th:href="@{/sb-admin-2/css/sb-admin-2.min.css}" rel="stylesheet">

        <!-- MetisMenu CSS 菜单插件 -->
        <link th:href="@{/plugins/metisMenu/metisMenu.min.css}" rel="stylesheet">

        <!-- Morris Charts CSS 报表插件 -->
        <!--<link th:href="@{/plugins/reportForm/morrisjs/morris.css}" rel="stylesheet">

        <!-- Custom Fonts  sb-admin 使用的字体  -->
        <link th:href="@{/sb-admin-2/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    </th:block>

</html>