<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="js">
        <!-- Jquery -->
        <script th:src="@{/jquery/3.1.1/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

        <!-- Vue -->
        <script th:src="@{/vue/2.5.16/vue.js}"></script>

        <!-- Metis Menu Plugin JavaScript 菜单插件 -->
        <script th:src="@{/plugins/metisMenu/metisMenu.min.js}"></script>

        <!-- Morris Charts JavaScript 报表插件 -->
        <!--<script th:src="@{/plugins/reportForm/raphael/raphael.min.js}"></script>-->
        <!--<script th:src="@{/plugins/reportForm/morrisjs/morris.min.js}"></script>-->

        <!-- Custom Theme JavaScript sb-admin 自己 js -->
        <script th:src="@{/sb-admin-2/js/sb-admin-2.min.js}"></script>


        <!-- 自定义 AjaxError js -->
        <script th:src="@{/common/ajaxError.js}"></script>

        <script type="text/javascript" th:inline="javascript">
            // var url_403 = [[@{/common/error/403}]];
            // var url_404 = [[@{/common/error/404}]];

        </script>

    </th:block>

</html>